.row
{
  background-color: #1be1e8;
  border: ridge 3px grey;
  width:400px;
  margin: auto;
  color: green;
  margin-top: 30px;
  padding: 20px;
}  
.actions
{
  text-align: left;
}

.container
{
  padding: 20px;
  margin-left: 50px;
}
