<%# if @human.errors.any?%>
	<!-- <div id="error_explanation">
          <h2><%#= pluralize(@human.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <%# @human.errors.full_messages.each do |msg| %>
                <li><%#= msg %></li>
            <%# end %>
          </ul>
        </div>
    <%# end %>


	<div class="row">
		<div class="container">
		<%#= form_for @human do |h| %>
			<div class="col-md-4">
			</div>
 -->





